<html>
<head>
    <title>Test App</title>
</head>
<body>
    <% if(!isAuthenticated){ %>
        <a href="/signup">Sign up</a><br>
        <a href="/signin">Sign in</a><br>
        <a href="/recovery">Recovery (not yet functional)</a>
    <% } %>
</body>
</html>