<html>
<title></title>
<head>
</head>
<body>


SignOut: 
<br>
<br>
<form action="/signout" method="post" >
    <input type="submit" id="submit" value="Submit" name="submit">
</form>
<a href="/home"> Go back to your Home </a>
</body>
</html>