<html>
<title></title>
<head>
</head>
<body>


SignIn: 
<br>
<br>
<form action="/signin" method="post" >
    
    Username: 
    <br>
    <input type="text" name="username" id="username">
    <br>
    
    Password: 
    <br>
    <input type="text" name="password" id="password">
    <br>
    
    <br>
    <input type="submit" id="submit" value="SignIn" name="submit">
</form>

</body>
</html>